/node_modules
/public/hot
/public/storage
/storage/*.key
/public/users
/vendor
/.idea/*
.idea
/.vagrant
/.settings/*
.settings/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.buildpath
.env
resources/views/.DS_Store

/.buildpath/*
/.project/*
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.vscode/settings.json

.settings/*
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.buildpath
..gitignore.swp
readme\.md
resources/views/procedimentos/.DS_Store
